* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    text-transform: none;
}

body {
    margin: 0;

}

.container {
    width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    text-align: center;
}

.text--em {
    color: #18cfab;
}

.main-header {
    display: flex;
    width: 100%;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: rgba(73, 71, 63, 0.6);
    position: fixed;
    z-index: 10;
}

.logo-wrapper {
    margin-right: 260px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo-wrapper a {
    text-decoration: none;
    display: flex;
    align-items: center;

}

.logo__hexagon {
    width: 58px;
    height: 36px;
    background: rgb(17, 208, 172);
    position: relative;
    color: white;
    text-align: center;
    font-size: 40px;
}

.logo__hexagon:before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-bottom: 15px solid rgb(17, 208, 172);
}

.logo__hexagon:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-top: 15px solid rgb(17, 208, 172);
}

.logo__hexagon--H {
    position: absolute;
    display: inline-block;
    color: white;
    top: -7px;
    left: 13px;
    font-size: 40px;
    font-weight: 700;
}

.logo-text {
    color: white;
    font-size: 32px;
    margin-left: 8px;
}

.logo-text--em {
    color: #18cfab;
    font-weight: 700;
}

.main-header__nav {
    display: flex;
    align-content: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-header__nav__item a {
    font-size: 13px;
    font-weight: 700;
    color: rgb(216, 216, 216);
    text-decoration: none;
    padding: 50px 9px 50px 9px;
    text-transform: uppercase;
}

.main-header__nav__item a:hover {
    color: #18cfab;
    border-bottom: 2px solid #18cfab;
    border-radius: 1px;
}

.main-header__nav__search a {
    font-size: 22px;
    margin-left: 17px;
    text-decoration: none;
}

.fa-search {
    color: rgb(216, 216, 216);
}

.main-section {
    height: 1012px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../img/sections_background/section-1(header).jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.main-section__h2--bold {
    margin: 0;
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding-bottom: 45px;

}

.main-section__h1--bold {
    margin: 0;
    font-size: 79px;
    font-weight: 700;
    color: white;
    padding-bottom: 45px;
}

.main-section__h2--thin {
    margin: 0;
    font-size: 34px;
    font-weight: 300;
    color: #d4d4d4;
    padding-bottom: 145px;
}

.btn-wrapper {
    display: inline-block;
}

.btn:link, .btn:visited {
    position: relative;
    display: inline-block;
    width: 166px;
    height: 41px;
    text-decoration: none;
    background-color: rgb(0, 204, 246);
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    border-radius: 4px;
    margin: 0 14px;
    padding-top: 20px;
    box-shadow: 0 -4px white;
}

.btn:hover {
    background-color: rgb(17, 208, 172);
}

.main-section__footer {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.main-section__footer__item {
    font-size: 20px;
    font-weight: 700;
    color: rgb(17, 208, 172);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    height: 374px;
    background-color: rgb(21, 37, 48);
    border-top: 7px solid rgb(17, 208, 172);
}

.main-section__footer__item:nth-child(even) {
    background-color: rgb(17, 208, 172);
    border-top: 7px solid white;
    color: white;
}

.main-section__footer__item div {
    margin-bottom: 120px;
}

.main-section__footer__item img {
    margin-top: 100px;
}

.section-header {
    width: 1160px;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    margin: 80px auto;
    text-align: center;
    font-size: 36px;
    color: #4e4e4e;
    font-weight: 400;
}

.section-header::before {
    position: absolute;
    content: "";
    width: 76px;
    border-bottom: 1px solid rgb(17, 208, 172);
    left: 46%;
    top: 70px;
}

.section-header::after {
    position: absolute;
    content: "";
    width: 76px;
    border-bottom: 1px solid rgb(17, 208, 172);
    left: 47%;
    top: 74px;
}

.our-services__nav {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    list-style: none;
    padding-bottom: 25px;
}

.our-services__nav__item {
    box-sizing: border-box;
    width: 192px;
    height: 73px;
    font-size: 16px;
    color: #717171;
    text-align: center;
    background-color: rgb(248, 252, 254);
    border: 0.5px solid rgb(236, 240, 241);
    padding-top: 25px;
}

.our-services__nav__item:hover {
    cursor: pointer;
}

.our-services__description {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: left;
    width: 1150px;
    margin: 0 auto;
}

.our-services__description__img {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 192px;
    height: 138px;
    border: 0.5px solid rgb(236, 240, 241);
}

.our-services__description p {
    position: absolute;
    top: 0;
    left: 217px;
    box-sizing: border-box;
    display: inline-block;
    width: 934px;
    color: #777777;
    font-size: 14px;
    line-height: 1.8;
    text-align: justify;
}

.everything-is-ready {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 126px;
    padding-bottom: 126px;
    background-image: url("../img/sections_background/section-2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    margin-top: 243px;

}

.everything-is-ready::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.78);
}

.everything-is-ready h2 {
    display: inline-block;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 35px;
    position: relative;
}

.everything-is-ready p {
    color: #d8d8d8;
    font-size: 16px;
    padding-bottom: 75px;
    position: relative;
}

.our-amazing-work {
    background-color: rgb(248, 252, 254);
    height: 1212px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.our-amazing-work__wrapper {
    width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.our-amazing-work__nav {
    display: flex;
    align-content: center;
    justify-content: center;
    list-style-type: none;
    margin-top: 30px;
}

.our-amazing-work__nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    text-align: center;
    background-color: white;
    border: 0.5px solid rgb(236, 240, 241);
}

.our-amazing-work__nav__item a {
    padding: 0 20px;
    font-size: 14px;
    color: #717171;
    text-decoration: none;
}

.our-amazing-work__gallery {
    width: 100%;
    height: 621px;
    border: 1px solid red;
    margin-top: 70px;
    margin-bottom: 70px;
}

.breaking-news__gallery {
    width: 100%;
    padding: 70px 0 130px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.breaking-news__gallery__item {
    position: relative;
    width: 263px;
    height: 280px;
    margin: 22px 0;
    background-color: rgb(248, 252, 254);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.breaking-news__gallery__item a {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.breaking-news__gallery__item p {
    display: block;
    font-size: 18px;
    color: #777777;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 13px;
}

.breaking-news__gallery__item p:last-of-type {
    font-size: 14px;
    font-weight: 300;
}

.breaking-news__gallery__item__date {
    position: absolute;
    background-color: rgb(26, 60, 53);
    width: 68px;
    height: 68px;
    text-align: center;
    top: 0;
    right: 0;
    font-size: 16px;
    color: #ffffff;
    line-height: 2;
}

.what-people-say {
    background-image: url("../img/sections_background/section-3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 100px 0 100px 0;
}

.what-people-say h2 {
    font-size: 36px;
    color: white;
}

/*.what-people-say .container {*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: center;*/
/*justify-content: space-between;*/
/*}*/

.what-people-say__quot {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    font-size: 90px;
    color: rgb(17, 208, 172);
}

/****************************SLIDER***********************************/

.slider-text {
    margin: 0 auto;
}

.slider-text p {
    width: 1098px;
    margin: 0 auto;
    padding-bottom: 20px;
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    line-height: 30px;
}

.slider-text p:last-of-type {
    font-size: 13px;
}

.slider-text p span {
    font-size: 16px;
    font-weight: 700;
    color: #18cfab;

}

.slider-img {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 10px auto;
    position: relative;
}

.slider-img img {
    margin: 10px auto;
    width: 142px;
    height: 142px;
    box-sizing: border-box;
    border: 2px solid rgb(17, 208, 172);
    box-shadow: 0 0 1px 10px rgba(31, 218, 181, 0.2);
    border-radius: 50%;
}

.slider-nav {

    padding-left: 25px;
    margin: 0 auto;
    width: 420px;
}

.slider-nav div {
    padding: 1px 0 1px 2px;
}

.slider-nav img {
    width: 61px;
    height: 61px;
    /*border: 1px solid rgb(17, 208, 172);*/
    border-radius: 50%;
    box-shadow: 0 0 1px 4px rgba(31, 218, 181, 0.2);
}

.slick-arrow {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.slick-arrow:hover {
    background-color: #18cfab;
    color: white;
    cursor: pointer;
}

.slick-prev {
    position: absolute;
    top: 14px;
    left: -64px;
    background-image: url("../img/people_img/prevArrow.png");
}

.slick-next {
    position: absolute;
    top: 14px;
    right: -64px;
    background-image: url("../img/people_img/nextArrow.png");
}

/***************************************************************************************/

.gallery-of-best-images .container {
    height: 1366px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 80px;
}

.gallery-of-best-images__container {
    width: 1160px;
    height: 300px;
    border: 1px solid blue;

}

.copyright {
    color: #aeaeae;
    font-size: 14px;
    width: 100%;
    height: 108px;
    background-color: rgb(28, 50, 61);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.item-active {
    background-color: rgb(17, 208, 172);
    position: relative;
    color: white;
}

.item-active::after {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 75px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgb(17, 208, 172);
}

/****************************************MODAL WINDOW**************/

.modal-window__container {
    box-sizing: border-box;
    position: relative;
    border-radius: 15px;
    margin: 15% auto;
    padding: 46px 0 30px 0;
    width: 820px;
    height: 367px;
    background-color: white;
    z-index: 1;
    animation: appear 0.5s;
}

@keyframes appear {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.modal-window__block-header {
    font-size: 22px;
    color: #474646;
}

.modal-window__block-header--em {
    font-size: 21px;
    color: rgb(17, 208, 172);
    margin-top: 3px;
}

input, .social-media__btn {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 4px;
    margin: 11px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

input:hover, .social-media__btn:hover {
    opacity: 1;
}

.fb {
    background-color: rgb(50, 78, 137);
    color: white;
}

.twitter {
    background-color: rgb(62, 163, 210);
    color: white;
}

.google {
    background-color: rgb(207, 60, 33);
    color: white;
}

input[type=submit] {
    background-color: rgb(17, 208, 172);
    color: white;
    cursor: pointer;
    font-size: 21px;
}

input[type=submit]:hover {
    background-color: rgb(9, 145, 120);
}

input[type=checkbox] {
    width: 10%;
    font-size: 15px;
}

.modal-window__col {
    box-sizing: border-box;
    position: relative;
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 30px;
    margin-top: 6px;
}

.vertical-line {
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 23%;
    transform: translate(-50%);
    border: 0.5px solid rgba(17, 208, 172, 0.4);
    height: 200px;
}

.vertical-text {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 8px 10px;
    font-size: 14px;
    color: rgb(182, 182, 182);
}

.forgot-password {
    text-align: center;
    color: #b6b6b6;
}

.forgot-password a {
    color: #b6b6b6;
    font-size: 15px;
    text-decoration: none;
    margin-left: 15%;
}

.modal-window {
    box-sizing: border-box;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 60px;
}

.modalBtn {

}






















