*{
    margin: 0;
    padding: 0;

    font-family: Montserrat, sans-serif;
    text-transform: none;
}
.modal-block {
    box-sizing: content-box;
    width: 35%;
    height: auto;
    max-height: 690px;
    min-width: 440px;
    margin: 10vh auto;
    padding: 30px 60px;
    background-color: #fff;
    border-radius: 10px;
}
.client-block__container {
    max-height: 630px;
}
.client-block__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.client-block__social-networks-sign {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin-bottom: 35px;
}
.client-block__header-text_big {
    color: #434343;
    font-size: 20px;
    position: relative;
}
.client-block__header-text_big::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #3cb878;
    position: absolute;
    left: -60px;
}
.client-block__button {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 15px;
    width: 48%;
    min-width: 155px;
    height: 45px;
    color: #ffffff;
    font-size: 16px;
    line-height: 45px;
    border-width: 0;
    border-radius: 3px;
    cursor: pointer;
}

.client-block__button-text::before {
    content: "";
    margin: 0 15px;
}
.button-facebook {
    background-color: #305db8;
}
.logo-facebook {
    width: 20px;
    background-position: -85px 0;
}
.text-facebook::before {
    border-left: 1px solid #2953a8;
}
.logo-google {
    width: 27px;
    background-position: -105px 0;
}
.button-google {
    background-color: #df4a32;
}
.text-google::before {
    border-left: 1px solid #ca412a;
}
.client-block__measure {
    text-align: center;
    margin-bottom: 15px;
}
.client-block__measure span {
    width: 20%;
    color: #848484;
    display: inline-block;
    position:relative;

}
.client-block__measure span::before,
.client-block__measure span::after {
    content: "";
    position: absolute;
    height: 5px;
    border-top: 1px solid #eaeaea;
    top: 50%;
    width: 200%;
}
.client-block__measure span::before {
    right: calc(100% - 15px);
    margin-right: 15px;
}
.client-block__measure span::after {
    left: calc(100% - 15px);;
    margin-left: 15px;
}
.order__field {
    box-sizing: border-box;
    border: 2px solid #f7f7f7;
    padding: 15px;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 15px;
}
.order__field::placeholder {
    color: #cccccc;
    opacity: 1;
}
.order__field:focus::placeholder {
    color: transparent;
}
.order__field:focus {
    outline: 0;
    box-shadow: 0 2px 5px 0 #d6d6d6;
    color: #434343;
}
.order__checkbox {
    margin-top: 25px;
    visibility: hidden;
}
.order__label {
    position: relative;
    margin-left: 10px;
}
.order__label::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    border: 1px solid #eaeaea;
}
.order__checkbox:checked + .register__label::before {
    background-position: -130px 0;
}
.order__button {
    margin-top: 30px;
    background-color: #3cb878;
    width: 100%;
}
.order__checkbox, .register__label {
    cursor: pointer;
}
.pass{

}